body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff; 
}

.container {
    width: 80%;
    margin: auto;
    padding-top: 20px;
}

.flex-container{
    background-color: #ffffff;
}

h1, h2 {
    text-align: center;
}

h1 {
    color: #141314;
    font-family: "Impact", fantasy;
    font-size: 3.5em; 
    font-weight: normal; 
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.cart, .info {
    flex: 1;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
}

.cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.cart-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}


.cart-item-details {
    flex-grow: 1;
}


input[type="text"], input[type="email"], button, input[type="radio"], select {
    padding: 10px;
    margin: 5px 0;
    display: block;
    width: 95%;
}

input[type="radio"] {
    display: inline-block;
    width: auto;
    margin-right: 10px;
}

.order-option, .totals {
    margin: 20px 0;
}

button {
    background-color: rgb(111, 28, 142);
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: darkblue;
}

.quantity-control {
    display: flex;
    align-items: center;
}

.quantity-control button {
    padding: 5px 10px;
    margin: 0 5px;
    width: 10px;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    color: black;
    font-size: 15px;
}

.quantity-control .quantity-value {
    color: gray;
}

.quantity-control button:hover {
    color: gray;
}

.branch-address select {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.datetime {
    margin-top: 20px;
    display: none; 
}

.datetime label {
    margin-right: 10px;
}

.datetime input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.branch-address, .address {
    display: none;
}

.header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: transparent; 
    transition: background-color 0.3s ease;
    z-index: 1000; 
    color: #FFFFFF; 
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #efeeee;
    min-width: 360px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1001;
    position: absolute;
    top: 70px; 
    left: 0;
    right: 0; 
    width: 20%; 
    border-radius: 5%;
    height: 400px; 
}

.dropdown-menu a {
    color: black;
    padding: 20px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 3em; 
    font-family: "Helvetica", sans-serif;
    font-weight: bold; 
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.menu-icon {
    font-size: 34px;
    cursor: pointer;
    color: #a785dc;
    position: relative;
}

.header h1 {
    text-align: center;
    color: #141314;
    margin-left: 40%;
    font-family: "Impact", fantasy;
    font-size: 3.5em; 
    font-weight: normal; 
}

.header h1, .menu-icon, .cart-icon{
    text-shadow: 0 0 8px rgb(247, 246, 246); 
}

.cart {
    flex: 2; 
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
    background-color: #FFFFFF;  
}

.cart h2{
    font-family: "Impact", fantasy;
    font-weight: normal; 
}

.info {
    flex: 1; 
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
    background-color: #e6d1f274;
}

.info h2{
    font-family: "Impact", fantasy;
    font-weight: normal; 
}
